/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* --------------------------------------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:wght@300&display=swap');

:root {
    --primary-color: aquamarine;
    --secondary-color: aqua;
}


.signUpContainer h1{
    text-align: center;
    font-family: 'Lato', sans-serif;
    letter-spacing: 5px;
    margin: 0px auto;
}

.signUpContainer{
    max-width: 650px;
    display: flex;
    align-items: center;
    margin: 0px auto;
    justify-content: center;
    position: relative;
}
.signUpFormContainer{
    display: flex;
    border-radius: 15px;
    max-width: 600px;
    max-height: 600px;
    height: 100%;
    padding: 3vh;
    align-self: center;
    margin: 0px auto;
    margin-top: -25vh;
    position: absolute;
    top: 50%;
    transform: translateY(550%);
    flex-direction: column;

}

.signUpForm{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 1.5vh;
}

.signUpFormContainer h3{
    margin-top: .5vh;
    text-align: center;
}

.signUpForm h1{
    font-weight: 700;
    font-size: 1.5rem;
    margin-top: 0;
    margin-bottom: 1vh;

}

.signUpForm input{
    margin: 1vh auto;
    text-align: center;
    padding: 1vh;
    height: 35px;
    border-radius: 5px;
    box-shadow: none;
    border: 1px solid lightgrey;
    font-family: 'Lato', sans-serif;
    font-size: 1rem;}
.signUpForm input:focus{
    outline: none;
}
.signUpForm input:focus::placeholder{
    color: transparent;
}

.signUpForm button{
    width: 50%;
    align-self: center;
    background-color: var(--primary-color);
    border: none;
    padding: 1vh;
    margin-top: 1vh;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 700;
}

.birthdayTitle{
    text-align: center;
    margin: 0px auto;
    color:  grey;
    margin-top: .5rem;
    font-size: 1em;
    cursor: default;
}


.signUpForm button:hover{
    background-color: var(--secondary-color);
}
.signUpForm button:focus{
    outline: none;
}

.signUpForm .dateOfBirthField input{
    padding: 0;
    width: 75px;
    margin: 1vh 1vh;
}

.signUpForm .dateOfBirthField input::-webkit-outer-spin-button,
.signUpForm .dateOfBirthField input::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}
.signUpForm .dateOfBirthField input[type=numbers]{
    -moz-appearance: textfield;
}